body {
	font: 13px/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Global */
.container{
	width: 70%;
	margin: auto;
	overflow: hidden;
}

ul {
	padding: 0;
	margin: 0;
}

/* Header */
header{
	background: url(../img/images.jpg) no-repeat 0px -200px;
	background-size: auto;
	min-height: 400px;
	padding-top: 40px;
}

header .branding {
	float: left;
}

 header a {
 	text-decoration: none;
 	color: #ffffff;
 }

 header nav {
 	float: right;
 }

 header li {
 	float: left;
 	display: inline;
 	padding: 0 0 0 20px;
 }

 header .branding h1 {
 	font-size: 14px;
 	color: #ffffff;
 	text-transform: uppercase
 }

header .showcase {
	margin-top: 110px;
	text-align: center;
	color: #ffffff;
}

header .showcase .question {
	font-size: 18px;
}

header .showcase .answer {
	margin: 0 0 20px 0;
	font-size: 56px;
	font-weight: bold;
	text-transform: uppercase;
}

header .showcase button {
	font-size: 13px;
	font-weight: bold;
	padding: 8px 35px;
	border: 1px solid #ffffff;
	background-color: inherit;
	color: #ffffff;
}

/* Services */

.service-brand {
	background-color: #fafafa;
}

.service-dev, .service-brand {
	min-height: 350px;
	padding: 50px 0 50px 0;
}

.service-dev p, .service-brand p {
	color: #777777;
	font-size: 15px;
}

.service-dev h1, .service-brand h1 {
	color: #111111;
	font-size: 42px;
	font-weight: lighter;
}

.highlight {
	font-weight: bold;
}

.service-dev i, .service-brand i {
	font-size: 260px;
	color: #e0e0e0;
}

/* Options List */
.options-list {
	margin: 50px 0 50px 0;
}

.options-list i {
	border-radius: 50%;
	background-color: black;
	color: #ffffff;
	font-size: 30px;
	padding: 10px;
}

.options-list .row {
	margin-top: 20px;

}

.options-list p {
	color: #777777;
	font-size: 15px;
}

.options-list h3 {
	color: #111111;
	font-weight: bold;
	font-size: 17px;
}

/* AWESOME CLIENTS  */

.clients {
	padding: 50px 0 50px 0;
	background-color: #fafafa;
}

.clients p {
	color: #777777;
	font-size: 15px;
}

.clients h1 {
	color: #111111;
	font-size: 42px;
	font-weight: lighter;
}

.clients img {
	border-radius: 50%;
}

.heading {
	text-align: center;
}

.clients .row {
	margin: 30px 0 0 0;
}

.clients .quatation {   
    background-color: #ffffff;
    padding: 30px 60px;
 	border: 1px solid #777777;
 	position: absolute;
}
.clients .quatation::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -20px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent #777777 transparent transparent;
}

/* AMAZING TEAM */

.team {
	background-color: #111111;
	padding: 90px 0;
}

.team h1 {
	color: #ffffff;
	font-size: 42px;
	font-weight: lighter;
}

.team p {
	color: #ffffff;
	font-size: 15px;
	text-align: center;
}

.team .heading p {
	color: #777777;
}

.team .bolder {
	font-weight: bold;
	margin-bottom: 5px;
}

.team img {
	border-radius: 50%;
	border: 8px solid #ffffff;
	margin: 50px 0 20px 0;
}

.team .col-md-4 {
	text-align: center;
}

.team i {
	border: 3px solid #ffffff;
	border-radius: 50%;
	background-color: #111111;
	color: #ffffff;
	font-size: 25px;
	padding: 9px;
	width: 50px;
	margin: 10px 0 50px 0;
}

/*  TULS */

.tuls {
	background-color: #ffffff;
}

.tuls img {
	opacity: 0.3;
	margin: 30px 0;
}


/*   FORMS   */

.forms {
	background-color: #7690c5;
	color: #ffffff;
	padding: 90px 0;
}





